[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

yapf = "*"
ipython = "*"


[packages]

sanic = "*"
aioredis = "==0.3.3"
aiohttp = "*"
"jinja2" = "*"


[requires]
python_version = "3.6"
